* {
  margin: 0;
  padding: 0;
}
body {
  background: #1D1616;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
/* Navbar1 */
.logo-container {
  width: 50vw;
}
#logo {
  width: 150px;
}
#navbar1 {
  display: flex;
  align-items: center;
  margin: 30px 60px;
}
.list-container {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
}
#nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3vw;
  font-size: 1rem;
}
#nav-list > li > a {
  text-decoration: none;
  color: #EEEEEE;
  transition: all 300ms ease-in-out;
}
#nav-list > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}
#lets-talk-btn {
  margin-left: 2vw;
  padding: 10px 10px;
  border: 2px solid #D84040;
  border-radius: 10px;
  color: #EEEEEE;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
/* Navbar 2 */
#navbar2 {
  display: none;
  margin: 30px 60px;
}
#burger-container {
  display: flex;
  align-items: center;
}
#burger-container > div {
  width: 50%;
}
.fa-bars {
  cursor: pointer;
  font-size: 2rem;
  color: #EEEEEE;
}
#nav-list2 {
  display: none;
  gap: 10px;
  margin-top: 30px;
  list-style: none;
}
#nav-list2 > li > a {
  text-decoration: none;
  color: #EEEEEE;
}
/* Hero */
#hero {
  background-image: url(image-from-rawpixel-id-6241845-png\ \(1\).png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EEEEEE;
  padding: 150px;
}
#hero-text-box {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
#hero-text-box > 
div > 
p, h3 {
  font-weight: 400;
}
.resume {
  background: #D84040;
  color: #EEEEEE;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.resume:hover,
#submit:hover {
  background: rgb(175, 64, 64);
  color: rgb(255,255,255);
  transform: scale(1.05);
}
.contact:hover {
  background: rgb(175,175,175);
  color: #EEEEEE;
  transform: scale(1.05);
}
.contact {
  background: #EEEEEE;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.hero-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
#hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
#hero-image > img {
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #D84040;
  transition: box-shadow 400ms ease-in-out;
  min-width: 300px;
}
#hero-image > img:hover {
  box-shadow: 0 0 10px 15px #D84040;
}
.red-font {
  color: #D84040;
}
#portfolio {
  color: #EEEEEE;
  padding: 50px;
}
#portfolio > h2 {
  font-size: 2rem;
  text-align: center;
}
#portfolio > h4 {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  margin: 40px 0;
  font-weight: 400;
}
.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(40, 32, 32);
  border: 2px solid #D84040;
  border-radius: 10px;
  padding: 40px;
  gap: 20px;
  max-width: 300px;
}
.portfolio-box > a {
  text-align: center;
}
.portfolio-box h3 {
  font-size: 1.5rem;
}
.portfolio-img {
  width: 75%;
  cursor: pointer;
}
.portfolio-img:hover {
  transform: scale(1.03);
  transition: all 300ms ease-in-out;
}
.key-features {
  font-size: .9rem;
}
.fa-brands {
  margin-left: 10px;
  font-size: 2rem;
  cursor: pointer;
}
#about {
   background-image: url(image-from-rawpixel-id-6241845-png\ \(1\).png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  color: #EEEEEE;
  text-align: center;
  padding: 50px 50px;
}
#about > h2 {
  margin-bottom: 40px;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #EEEEEE;
}
#contact > h2 {
  text-align: center;
  margin-bottom: 40px;
}
form {
  border: 5px solid #D84040;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 80%;
  max-width: 650px;
}
input, 
textarea {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  max-width: 600px;
  background-color: rgb(80, 72, 72);
  border: 2px solid rgb(40, 32, 32);
  color: #EEEEEE;
  padding: 10px;
}
textarea {
  height: 80px;
}
#submit {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #D84040;
  border: none;
  border-radius: 10px;
  color: #EEEEEE;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
footer {
  background: rgb(40, 32, 32);
  text-align: center;
  color: #fff;
  padding: 50px 0 20px 0;
}
footer a {
  text-decoration: none;
  color: #D84040;
}
.footer-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-info-container > p {
  margin-bottom: 10px;
}
.fa-github, 
.fa-linkedin, 
.fa-envelope {
  font-size: 1.5rem;
  color: #EEEEEE;
  margin: 0 5px;
}
@media screen and (max-width: 950px) {
  #hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero-text-box {
    text-align: center;
    margin: 0 0 40px 0;
  }
  #lets-talk-btn {
    font-size: .9rem;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  #hero {
    padding: 75px;
  }
  #navbar1 {
    display: none;
  }
  #navbar2 {
    display: block;
  }
  .portfolio-container {
    display: flex;
    flex-direction: column;
  }
  .portfolio-box {
    margin-bottom: 20px;
    width: 50%;
  }
}